<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estamos buscando el artículo {{ articulo }}</p>
    
    {% if color %}
        <p>Se encontraron resultados:</p>
        <ul>
            {% for purchase in color %}
                <li>{{ purchase.obj }} {{ purchase.color }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados para "{{ articulo }}".</p>
    {% endif %}
    
</body>
</html>